html{
  background-color: #C5CDD9;
  font-size: 40px;
}
form{
  border: 3px solid grey;
  width:80%;
  height: 50%;
  margin:0 0 0 10%;
  background-color:#CAC5D9;
}
.create_account{
}
.create_account input{
  font-size: 120%;
  width: 40%;
  height: 15%;
  margin: 5% 30% 0 30%;
  background-color: #D9D4C5;
}
.create_account button{
  width:25%;
  margin: 5% 37.5% 0 37.5%;
  height: 10%;
  font-size: 80%;
  background-color:#C5D1D9;
}
.create_account h1{
  text-align:center;
  border: 3px solid grey;
  width:80%;
  margin:10% 10% 0 10%;
  background-color:orange;
}
