html{
  background-color: #C5CDD9;
  font-size: 40px;
}
form{
  border: 3px solid grey;
  width:80%;
  height: 40%;
  margin:10% 10% 0 10%;
  background-color: #D1D9C5;
}
.search{
}
.search input{
  font-size: 120%;
  width: 80%;
  height: 20%;
  margin: 5% 10% 0 10%;
  background-color: #D9D4C5;
}
.search button{
  width:25%;
  margin: 5% 37.5% 0 37.5%;
  height: 10%;
  font-size: 80%;
  background-color: #C5D7D9;
}
.tips{
    width:100%;
    text-align: center;

}
