{% extends 'layout.html'%}
{% block style %}
    <link rel='stylesheet', href="{{ url_for('static', filename='css/log-in.css') }}">
{% endblock %}
{% block content %}
  <div class='log-in'>
    <form action="{{ url_for('search')}}" method='post'>
      <input placeholder='Username' name='username' type='text'>
      <input placeholder='Password' name='password' type='password'>
    <div>
      <button>Sign in</button>
    </div>
    <div class='link'>
      <a href="{{url_for('create_account')}}">Create a new account</a>
    </div>
    </form>
  </div>
{% endblock %}
